<footer>
  <ul>
    <li><%= link_to "Home", root_path%></li>
    <li><%= link_to "All Monsters", monsters_path%></li>
    <li><%= link_to "All Actions", actions_path%></li>
    <li><%= link_to "All Senses", senses_path%></li>
  </ul>
</footer>